{% extends "base.html" %}
{% block content %}


    <header id="page-header ">
        <div class="container my-3 bg-light">
            <div class="row">
                <div class="col-md-6 m-auto text-center ">
                    <h1 class="mt-3">雑草判別</h1>
                    <hr>
                    <p>何の雑草か判別してみよう</p>
                </div>
            </div>
        </div>
    </header>

    <!-- ページ詳細 -->
    <div class="container">
        <div class="row mb-3 ">
            <!-- コンテンツ -->
            <div class="col-md-6">
                <!-- 画像選択 -->
                <section id="classfication">
                    <div class="container py-2 mt-3 bg-light">
                        <div class="mb-3">
                            <h2 class="mt-3" >判別したい雑草</h2>
                            <hr>
                            <form action="{{url_for('classification.judge')}}" method="post" enctype="multipart/form-data">
                                {{ form.hidden_tag()}}
                                    <label for="image"></label>
                                    <input class="file_choose" type="file" name="input_image" id="image">
                                    <input class="btn btn-secondary" type="submit" value="送信">
                            </form>
                            <hr>
                            <p><b>現在判別できる雑草種</b></p>
                            <ul>
                                <li>ビロードモウズイカ</li>
                                <li>エノコログサ</li>
                                <li>ヒメジョオン</li>
                                <li>ヒメオドリコソウ</li>
                                <li>オオイヌノフグリ</li>
                                <li>オオキンケイギク</li>
                                <li>シロツメクサ</li>
                                <li>スギナ</li>
                                <li>タンポポ</li>
                                <li>ヤグルマギク</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6 mt-3 bg-light">
                <h1 class="mt-3">判別結果</h1>
                <hr>
                {% if image_post %}
                <div style="display: flex; justify-content: center; max-height: 400px; width: auto;">
                    <img src="{{ image_post }}" class="img-fluid" style="max-height: 400px; width: auto;" alt="判別したい雑草の画像を送信してください">
                </div>
                {% else %}
                <p>画像を選択してください</p>
                {% endif %}
                <hr>
                <div class="text-center">{{answer}}</div>
                <div class="text-center">{{text}}</div>
            </div>
        </div>
    </div>

{% endblock %}