{% extends "base.html" %}
{% block content%}

    <section class="row">
        <div class="back">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-img"></div>
                    <div class="col-lg-6">
                        <div class="container col-text">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <h1 class="text-white">雑草人生</h1>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, nulla reiciendis adipisci similique
                                        quos ad pariatur quo maxime unde exercitationem.</p>
                    
                                    <div class="feature d-flex mt-5">
                                        <div class="iconbox me-3">
                                            <i class='bx bxs-message-dots'></i>
                                        </div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, repellendus?</p>
                                        </div>
                                    </div>
                                    <div class="feature d-flex mt-5">
                                        <div class="iconbox me-3">
                                            <i class='bx bx-world'></i>
                                        </div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, repellendus?</p>
                                        </div>
                                    </div>
                                    <div class="feature d-flex mt-5">
                                        <div class="iconbox me-3">
                                            <i class='bx bxs-flask'></i>
                                        </div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, repellendus?</p>
                                        </div>
                                    </div>
                    
                                    <div>
                    
                                    </div>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}